<html>
    <body>
        <form method='post' action="/input">
            <input type="number" name="amt" placeholder="Loan Amount" required="Requiered">
            <input type="number" name="term" placeholder="Loan Term" required="Requiered">
            <input type="number" name="crd" placeholder="Credit History" required="Requiered">
            <input type="number" name="gnd" placeholder="Gender (1-M,0-F)" required="Requiered">
            <input type="number" name="mrd" placeholder="Marital Status(1,0)" required="Requiered">
            <input type="number" name="edu" placeholder="Education" required="Requiered">
            <input type="number" name="slf" placeholder="Self-Employed" required="Requiered">
            <input type="number" name="ppt" placeholder="Property Area" required="Requiered">
            <input type="number" name="inc" placeholder="Total Income" required="Requiered">
            <button>
                Submit
            </button>

        </form>
    </body>
</html>